# Python & venv
.venv/
__pycache__/
*.pyc

# Generated data/figures
data/**/*.json
data/**/*.csv
data/**/*.png
data/**/*.html

# Keep input .txt & dictionaries
!data/raw/*.txt
!data/only_kirilloff/*.txt
!data/dictionaries/*.txt

# Misc
.env
.DS_Store
